 /*#20CD8D #CCF4E5 #182527 #2D4048 #D9D9D9 #FFFFFF  */
 body {
    background-color: #CCF4E5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: #20CD8D;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}

.logo {
    position: absolute;
    left: 0;
    top: -65px;
    max-width: 300px;
    max-height: 300px;
}

.login-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.login-icon img {
    width: 24px;
    height: auto;
}

main {
    padding: 20px;
}

.main_title {
    margin: 0;
    font-size: 36px;
}

h2 {
    position: relative;
    margin-top: 0;
    font-size: 24px;
}

section {
    max-width: 50%;
    margin-right: 25%;
}

article {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.clicks {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f9f9f9;
    color: #666;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}


article h1 {
    margin-top: 0;
    color: #182527;
    font-size: 24px;
}

article p {
    color: #182527;
}

.tags {
    color: #666666;
}

.sidepanel{
    position: fixed;
    top: 200px;
    right: 20px;
    width: 10%;
    background-color: #182527;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.sidepanel h1 {
    margin-top: 0;
    font-size: 24px;
    color: #CCF4E5; 
}

.sidepanel p {
    margin-bottom: 10px; 
}

.sidepanel p:last-child {
    margin-bottom: 0; 
}

.article_preview {
    position: absolute;
    right: 275px;
    max-width: 30%;
    height: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 20px;
}

.article_preview h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

.article_preview p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

a:link{
    color: #20CD8D;
    font-family:fantasy;
    font-size: 28px;
}



/* article img{
    float: left;
    width: auto;
    height: 150px;
    margin: 15px;
    border-radius: 20px;
    border: 2px solid #fff;
    object-fit: cover;
} */
