body {
    background-image: linear-gradient(rgb(204 244 229), rgb(92, 187, 153));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95vw;
}

.logo {
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 5%;
}

.logo>img {
    max-width: 18vw;
    max-height: 18vh;
}

.about-us-button:hover {
    background-color: #3e8e41;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.about-us-button:active {
    background-color: #3e8e41;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}


.main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5%;
    margin-right: 7%;
}

.about-us-button {
    margin: 10px;
    height: 8vh;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(4 195 126);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    text-align: center;
    letter-spacing: 2px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-title {
    flex: 1;
}

.main-title>h1 {
    font-size: 6vw;
    margin-top: 20%;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.main-photo {
    flex: 1;
}

.main-photo>img {
    max-width: 80%;
    min-width: 80%;
    animation: float 2.5s ease-in-out infinite;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}

@media (max-width: 598px) {
    .header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }

    .logo {
        align-self: center;
        margin: 0;
    }

    .logo>img {
        max-width: 30vw;
    }

    .main-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .container {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 100px;
        
    }

    .main-title>h1 {
        font-size: 3rem;
        margin-top: 5%;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }

    .main-photo>img {
        max-width: 100%;
        animation: float 2.5s ease-in-out infinite;
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
    }
}


@media (max-width: 1100px) and (min-width: 599px) {
    .main-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 5%;
        margin-right: 7%;
    }

    .about-us-button {
        margin: 5px;
        height: 8vh;
        width: 100px;
        border-radius: 10px;
        background-color: rgb(4 195 126);
        color: white;
        text-transform: uppercase;
        font-size: 0.5rem;
        font-weight: bold;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        text-align: center;
        letter-spacing: 2px;
    }

    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .main-title>h1 {
        font-size: 3rem;
        margin-top: 5%;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }

    .main-photo>img {
        max-width: 100%;
        min-width: 100%;
        animation: float 2.5s ease-in-out infinite;
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
    }
}


@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* ================= HOT/LATESTS BUTTONS ================= */

.sections {
    flex: 1;
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 1200px) {
    .sections {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
}


.hot-now-button {
    max-width: 500px;
    min-width: 300px;
    margin-top: 80px;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: rgb(4 195 126);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    text-align: center;
    letter-spacing: 2px;
}


.hot-now-button:hover {
    background-color: #3e8e41;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.7);
    transform: translateY(-5px);
}

.hot-now-button:active {
    background-color: #3e8e41;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(0);
}

.hot-element {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 4%;
    border-radius: 20px;
    text-align: left;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
    background-color: rgb(193 237 221);
    transition: all 0.3s ease-in-out;
}

.hot-element>.btn-h {
    margin-top: 10px;
    font-size: 23px;
    font-weight: bold;
}

.hot-element>.btn-p {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 5px;
}

/* =================   SEARCH BAR   ================= */
.search-bar {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px !important;
    margin-bottom: 80px !important;
    width: 70%;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
    margin: 0 auto;
    justify-content: center;
}

.search-bar input[type="text"] {
    border-radius: 10px 0 0 10px;
    width: calc(80% - 60px);
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 2rem;
}

.search-button-right {
    padding: 10px;
    background-color: rgb(4 195 126);
    color: white;
    border: 1px solid rgb(4 195 126);
    border-radius: 0 10px 10px 0;
}

.search-button-right::after {
    content: "\1F50D";
    font-size: 2rem;
}


.line-1 {
    position: fixed;
    left: 27%;
    width: 1.3%;
    height: 100%;
    background-color: rgb(4 195 126);
    z-index: -1;
    animation: light 3s ease-in-out infinite;
}

.line-2 {
    position: fixed;
    left: 30%;
    width: 2%;
    height: 100%;
    background-color: rgb(4 195 126);
    z-index: -1;
    animation: light 3s ease-in-out infinite;
}

@keyframes light {
    0% {
        background-color: rgb(4 195 126);
        box-shadow: 0px 0px 0px 0px rgba(204, 244, 229, 0.5);
    }

    50% {
        background-color: rgb(104 235 166);
        box-shadow: 0px 0px 20px 10px rgba(204, 244, 229, 0.5);
    }

    100% {
        background-color: rgb(4 195 126);
        box-shadow: 0px 0px 0px 0px rgba(204, 244, 229, 0.5);
    }
}

a:link {
    text-decoration: none;
}