<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo-wheel-favicon.ico">


</head>

<body>

    <header>
        <img class="logo" src="../assets/images/logo.png" alt="Logo">
        <h1>Dashboard</h1>
    </header>


    <div class="upload_resource">

        <div class="upload_resource_header">
            <h2>Upload a resource</h2>
        </div>

        <div class="upload_resource_content">

            <form action="http://localhost:5010/api/resources" id="resourceForm">

                <div class="field_group">
                    <label for="title">Title</label>
                    <input type="text" id="title" required>
                </div>

                <div class="fields_group">
                    <label for="summary">Summary</label>
                    <textarea id="summary" rows="4" required></textarea>
                </div>

                <div class="field_group">
                    <label for="about">Description</label>
                    <textarea id="about" rows="4" required></textarea>
                </div>
                <div class="field_group">
                    <label for="tags">Tags</label>
                    <input type="text" id="tags" required>
                </div>
                <div class="field_group">
                    <label for="link">Link to Resource</label>
                    <input type="url" id="link" required>
                </div>

                <div class="field_group">
                    <label for="type">Type</label>
                    <select id="type" require>
                        <option value="book">Book</option>
                        <option value="online_book">Online Book</option>
                        <option value="framework">Framework</option>
                        <option value="visual_programming_language">Visual Programming Language</option>
                        <option value="sound_programming_language">Sound Programming Language</option>
                        <option value="web_programming_library">Web Programming Library</option>
                        <option value="hardware">Hardware</option>
                        <option value="video">Video</option>
                        <option value="tutorial">Tutorial</option>
                        <option value="machine_learning">Machine Learning</option>
                        <option value="blog">Blog</option>
                    </select>
                </div>

                <button type="submit">Upload Resource!</button>
            </form>

            <div class="upload_picture">
                <h2>Upload picture</h2>
                <img src="../assets/images/upload.png" alt="Upload picture" id="uploadImage">
                <input type="file" id="fileInput" style="display: none;">
                <p id="imageName"></p>
            </div>
            
            <script src="../js/uploadResource.js"></script>
        </div>


    </div>

    <div class="my_resources">

        <h2>My Resources:</h2>

        <div class="resource_list">

            <article onclick="funcProd(event)">
                <h2>The Nature of Code</h2>
                <p>Simulating natural systems with Processing.</p>
                <p class="tags">Tags: #books</p>
                <button type="submit">Edit</button>
                <button type="submit">Delete</button>
            </article>

            <article onclick="funcProd(event)">
                <h2>The Nature of Code</h2>
                <p>Simulating natural systems with Processing.</p>
                <p class="tags">Tags: #books</p>
                <button type="submit">Edit</button>
                <button type="submit">Delete</button>
            </article>

            <article onclick="funcProd(event)">
                <h2>The Nature of Code</h2>
                <p>Simulating natural systems with Processing.</p>
                <p class="tags">Tags: #books</p>
                <button type="submit">Edit</button>
                <button type="submit">Delete</button>
            </article>

        </div>


    </div>

</body>

</html>