<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo-wheel-favicon.ico">


</head>

<body>

    <div id="overlay" style="display: none;"></div>

    <header>
        <img class="logo" src="../assets/images/logo.png" alt="Logo" onclick="window.location.href='main-admin.html'">
        <h1>Dashboard</h1>
    </header>

    <article class="importExportPanelWrapper">
        <h2>Import/Export resources (JSON, CSV)</h2>
        <div class="importExportPanel">
            <input type="file" id="importResourcesButton" style="display: none;">
            <button onclick="importResources()">Import Resources</button>
            <button id="exportButton" onclick="centeredAlert('exportBox')">Export Resources</button>
        </div>
    </article>

    <div class="upload_resource">

        <div class="upload_resource_header">
            <h2>Upload a resource</h2>
        </div>

        <div class="upload_resource_content">

            <form action="http://localhost:5010/api/resources" id="resourceForm">

                <div class="field_group">
                    <label for="title">Title</label>
                    <input type="text" id="title" required>
                </div>

                <div class="fields_group">
                    <label for="summary">Summary</label>
                    <textarea id="summary" rows="4" required></textarea>
                </div>

                <div class="field_group">
                    <label for="about">Description</label>
                    <textarea id="about" rows="4" required></textarea>
                </div>
                <div class="field_group">
                    <label for="tags">Tags</label>
                    <input type="text" id="tags" required>
                </div>
                <div class="field_group">
                    <label for="link">Link to Resource</label>
                    <input type="url" id="link" required>
                </div>

                <div class="field_group">
                    <label for="type">Type</label>
                    <select id="type" require>
                        <option value="book">Book</option>
                        <option value="online_book">Online Book</option>
                        <option value="framework">Framework</option>
                        <option value="visual_programming_language">Visual Programming Language</option>
                        <option value="sound_programming_language">Sound Programming Language</option>
                        <option value="web_programming_library">Web Programming Library</option>
                        <option value="hardware">Hardware</option>
                        <option value="video">Video</option>
                        <option value="tutorial">Tutorial</option>
                        <option value="machine_learning">Machine Learning</option>
                        <option value="blog">Blog</option>
                    </select>
                </div>

                <button type="submit">Upload Resource!</button>
            </form>

            <div class="upload_picture">
                <h2>Upload picture</h2>
                <img src="../assets/images/upload.png" alt="Upload picture" id="uploadImage">
                <input type="file" id="fileInput" style="display: none;">
                <p id="imageName"></p>
            </div>

        </div>


    </div>

    <div class="my_resources">

        <h2>My Resources:</h2>

        <div class="resource_list" id="userResources">

        </div>

    </div>

    <div id="confirmationBox" style="display: none;">
        <p>Are you sure you want to delete this resource?</p>
        <button id="confirmYes">Yes</button>
        <button id="confirmNo">No</button>
    </div>

    <div id="invalidImageBox" style="display:none">
        <p>Please upload an image of type jpg, png, jpeg.</p>
    </div>

    <div id="exportBox" style="display: none;">
        <p>Export as:</p>
        <button id="exportJSON" onclick="exportJSON()">JSON</button>
        <button id="exportCSV" onclick="exportCSV()">CSV</button>
    </div>

    <div id="importErrorBox" style="display: none;">
        <p>Only JSON and CSV files supported.</p>
    </div>
    <script src="../js/checkToken.js"></script>
    <script src="../js/checkPermissions.js"></script>
    <script src="../js/uploadResource.js"></script>
    <script src="../js/importExport.js"></script>
    <script src="../js/getUserResources.js"></script>


</body>

</html>