<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo-wheel-favicon.ico">
</head>

<body>
    <div class="line-1"></div>
    <div class="line-2"></div>
    <img class="image-wheel" src="../assets/images/logo-wheel.png" alt="Your Image">
    <img class="image-text" src="../assets/images/logo-text.png" alt="Your Image">
    <div class="buttons">
        <button class="button-style" onclick="window.location.href = 'login-form.html'">
            Log in
        </button>
        <button class="button-style" onclick="window.location.href = 'signup-form.html'">
            Sign up
        </button>
        <button class="button-style" onclick="window.location.href = 'main-guest.html'">
            Enter as guest
        </button>
    </div>

</body>

</html>