<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Form</title>
    <link rel="stylesheet" href="../css/login-form.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo-wheel-favicon.ico">
</head>

<body>
    <div class="login-box">
        <h1>Log In</h1>
        <form id="login-form">
            <input class="user-box" name="username" type="text" placeholder="Username">
            <input class="user-box" name="password" type="password" placeholder="Password" id="pass">
            <div class="show-psw">
                <input type="checkbox" onclick="showpass()"> <p>Show Password</p>
            </div>
            <button type="submit" class="submit-button">Submit</button>
            <p id="invalid-credentials" style="display: none;">Invalid credentials</p>
        </form>
    </div>
    
</body>
<script src="../js/checkToken.js"></script>
<script src="../js/login-form.js"></script>

</html>