<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreativeProgramming</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" type="image/x-icon" href="assets/images/logo-wheel-favicon.ico">
</head>

<body>
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="header">
        <div class="logo">
            <img src="../assets/images/logo-main.png" alt="image not found!">
        </div>
        <div class="main-buttons">
            <button class="about-us-button" onclick="window.location.href = 'documentation.html'">
                About us
            </button>

            <button class="about-us-button" onclick="window.location.href='dashboard.html'">
                Dashboard
            </button>

            <button class="about-us-button" onclick="window.location.href='myaccount.html'">
                My Account
            </button>
            <button class="about-us-button" onclick="logout()">
                Log out
            </button>
        </div>
    </div>
    <div class="container">
        <div class="main-title">
            <h1>
                Creative coding Vault
            </h1>
        </div>
        <div class="main-photo">
            <img src="../assets/images/main-photo.png" alt="Image not availabe">
        </div>
    </div>
    <div class="sections">
        <div class="hot-now-button" onclick="window.location.href='popular.html'">
            <h1>
                Hot now
            </h1>
            <button class="hot-element" onclick="funcProd(event)">
                <span class="btn-h">
                    Generative Art: A Practical Guide
                </span>

                <span class="btn-p">
                    Practical guide using Processing.
                </span>

                <span class="btn-p">
                    See more...
                </span>
            </button>
            <button class="hot-element" onclick="funcProd(event)">
                <span class="btn-h">
                    Generative Design
                </span>
                <span class="btn-p">
                    Visualize, Program, and Create with Processing.
                </span>
                <span class="btn-p">
                    See more...
                </span>
            </button>
            <button class="hot-element" onclick="funcProd(event)">
                <span class="btn-h">
                    The Nature of Code
                </span>
                <span class="btn-p">
                    Simulating natural systems with Processing.
                </span>
                <span class="btn-p">
                    See more...
                </span>
            </button>
        </div>
        <div class="hot-now-button" onclick="window.location.href='trending.html'">
            <h1>
                Latests addisions
            </h1>
            <button class="hot-element" onclick="funcProd(event)">
                <span class="btn-h">
                    Generative Art: A Practical Guide
                </span>
                <span class="btn-p">
                    Practical guide using Processing.
                </span>
                <span class="btn-p">
                    See more...
                </span>
            </button>
            <button class="hot-element" onclick="funcProd(event)">
                <span class="btn-h">
                    Generative Design
                </span>
                <span class="btn-p">
                    Visualize, Program, and Create with Processing.
                </span>
                <span class="btn-p">
                    See more...
                </span>
            </button>
            <button class="hot-element" onclick="funcProd(event)">
                <span class="btn-h">
                    The Nature of Code
                </span>
                <span class="btn-p">
                    Simulating natural systems with Processing.
                </span>
                <span class="btn-p">
                    See more...
                </span>
            </button>
        </div>
    </div>

    <div class="search-bar">
        <input type="text" id="search" placeholder="Looking for something?" class="search-input">
        <button type="submit" class="search-button-right"></button>
    </div>
    <script src="../js/checkToken.js"></script>
    <script src="../js/main-admin.js"></script>
    <script src="../js/logout.js"></script>
    <script src="../js/search.js"></script>
</body>

</html>