<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Page</title>
    <link rel="stylesheet" href="../css/trending_popular.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo-wheel-favicon.ico">
</head>

<body>

    <header>
        <img class="logo" src="../assets/images/logo.png" alt="Logo">
        <h1 class="main_title">Most popular on Creative Coding Vault</h1>
        <h2>See what's hot on Creative Coding Vault</h2>
    </header>

    <main>


        <section >
            <h2>Most searched resources all time:</h2>
            <div id="fetchedResources">
                
            </div>

        </section>

        <script src="../js/popular.js"></script>



        <div class="preview">
            <h2>Preview resource:</h2>
            <div class="article_preview" id="articlePreview">
                
            </div>
        </div>

        <div class="sidepanel">
            <h2>See more categories:</h2>
            <p>📚 Books</p>
            <p>📖 Online Books</p>
            <p>🎓 Courses</p>
            <p>📧 Contact</p>
            <p>🛠️ Tools</p>
            <p>📚 Learning Resources</p>
            <p>👥 Communities</p>
            <p>➗ Math</p>
            <p>🤖 Machine learning • Computer Vision • AI</p>
            <p>💡 Inspiration</p>
            <p>📅 Events</p>
            <p>🏛️ Museums • Galleries</p>
            <p>🏫 Schools • Workshops</p>
            <p>🌐 Blogs • Websites</p>
            <p>🔗 Related</p>
        </div>


    </main>

</body>

</html>