<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Most Popular Page</title>
    <link rel="stylesheet" href="../css/searchpage.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo-wheel-favicon.ico">
</head>

<body>

    <header>
        <img class="logo" src="../assets/images/logo.png" alt="Logo" onclick=logoRedirect()>
        <h1 class="main_title">Search page</h1>
        <h2>Find your resource on Creative Coding Vault</h2>
    </header>

    <main>

        <div class="search-bar">
            <input type="text" id="search" placeholder="Start a new search..." class="search-input">
            <button type="submit" class="search-button-right"
                onclick="window.location.href = 'searchpage.html'"></button>
        </div>

        <form class="filters-box">
            <h2>Filters:</h2>
            <div class="filters-box-content">

                <h3>Books</h3>
                <ul>
                    <li><input type="checkbox" value="is_book"><span>Books</span> <span class="filter-result-count">(42)</span></li>
                    <li><input type="checkbox" value="is_online_book"><span>Online Books</span> <span class="filter-result-count">(42)</span>
                    </li>
                    <li><input type="checkbox" value="is_course"><span>Courses</span> <span class="filter-result-count">(25)</span></li>
                    </li>
                </ul>

                <h3>Software Type</h3>
                <ul>
                    <li><input type="checkbox" value="is_framework"><span>Frameworks</span> <span class="filter-result-count">(30)</span>
                    </li>
                    <li><input type="checkbox" value="is_machine_learning"><span>Machine learning • AI</span> <span
                            class="filter-result-count">(45)</span></li>
                    <li><input type="checkbox" value="is_hardware"><span>Hardware</span> <span class="filter-result-count">(55)</span></li>
                </ul>

                <h3>Programming Language</h3>
                <ul>
                    <li><input type="checkbox" value="is_visual_programming_language"><span>Visual Programming </span> <span
                            class="filter-result-count">(57)</span></li>
                    <li><input type="checkbox" value="is_sound_programming_language"><span>Sound Programming </span> <span
                            class="filter-result-count">(20)</span>
                    </li>
                    <li><input type="checkbox" value="is_web_programming_library"><span>Web Programming </span> <span
                            class="filter-result-count">(15)</span>
                    </li>
                </ul>

                <h3>Interaction</h3>
                <ul>
                    <li><input type="checkbox" value="is_blog"><span>Blogs</span> <span class="filter-result-count">(74)</span></li>
                    <li><input type="checkbox" value="is_tutorial"><span>Tutorial</span> <span class="filter-result-count">(15)</span></li>
                    <li><input type="checkbox" value="is_video"><span>Video</span> <span class="filter-result-count">(3)</span></li>
                </ul>

                <button type="submit" class="filter-button">Apply filters</button>
            </div>
        </form>

        <div class="search-results-box">
            <h2>Search results:</h2>
            <div class="search-results-box-content" id="search-results">
                <script src="../js/getSearchTokens.js"></script>
            </div>
        </div>

    </main>
    <script src="../js/checkToken.js"></script>
    <script src="../js/search.js"></script>
    <script src="../js/logoRedirect.js"></script>
</body>

</html>