<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="../css/signup-form.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo-wheel-favicon.ico">
</head>

<body>
    <div class="login-box">
        <h1>Sign Up</h1>
        <form id="login-form" action="../views/login-form.html" method="GET">
            <input class="user-box" name="firstName" type="text" placeholder="First Name">
            <input class="user-box" name="lastName" type="text" placeholder="Last Name">
            <select name="country" id="country-select">
                <option value="">Select Country</option>
                <option value="us">United States</option>
                <option value="ca">Canada</option>
                <option value="mx">Mexico</option>
                <option value="uk">United Kingdom</option>
                <option value="de">Germany</option>
                <option value="fr">France</option>
                <option value="it">Italy</option>
                <option value="es">Spain</option>
                <option value="au">Australia</option>
                <option value="cn">China</option>
                <option value="jp">Japan</option>
                <option value="in">India</option>
            </select>
            <select name="city" id="city-select">
                <option value="">Select City</option>
                <option value="us">Iasi</option>
                <option value="ca">Los Angeles</option>
                <option value="mx">Madrid</option>
                <option value="uk">London</option>
                <option value="de">Berlin</option>
                <option value="fr">Paris</option>
            </select>
            <input class="user-box" name="emailAdress" type="text" placeholder="Email">
            <input class="user-box" name="phoneNumber" type="text" placeholder="Phone">
            <input class="user-box" name="userName" type="text" placeholder="Username">
            <input class="user-box" name="password" type="password" placeholder="Password">
            <input class="user-box" type="password" placeholder="Confirm Password">
            <button class="submit-button" type="submit">Submit</button>
        </form>
    </div>
    <script src="../js/checkToken.js"></script>
    <script src="../js/signup-form.js"></script>
</body>

</html>