<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Page</title>
    <link rel="stylesheet" href="../css/trending_popular.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo-wheel-favicon.ico">
</head>

<body>

    <header>
        <img class="logo" src="../assets/images/logo.png" alt="Logo">
        <h1 class="main_title"> Trending on Creative Coding Vault</h1>
        <h2>See what's trending on Creative Coding Vault</h2>
    </header>

    <main>

        <section>
            <h2>Most searched resources this month:</h2>
            <article onclick="funcProd(event)">
                <div class="clicks">
                    <p>👀 5.8k</p>
                </div>
                <h2>The Nature of Code</h2>
                <p>Simulating natural systems with Processing.</p>
                <p class="tags">Tags: #books</p>
            </article>

            <article onclick="funcProd(event)">
                <div class="clicks">
                    <p>👀 5.5k</p>
                </div>
                <h2>Processing</h2>
                <p>Computer programming language and IDE for visual arts</p>
                <p class="tags">Tags: #frameworks</p>
            </article>

            <article onclick="funcProd(event)">
                <div class="clicks">
                    <p>👀 5.2k</p>
                </div>
                <h2>Learning Modern 3D Graphics Programming </h2>
                <p>Series of tutorials on using OpenGL to do graphical rendering.</p>
                <p class="tags">Tags: #books</p>
            </article>

            <article onclick="funcProd(event)">
                <div class="clicks">
                    <p>👀 4.9k</p>
                </div>
                <h2>Generative Art: A Practical Guide </h2>
                <p>Practical guide using Processing.</p>
                <p class="tags">Tags: #books</p>
            </article>

            <article onclick="funcProd(event)">
                <div class="clicks">
                    <p>👀 4.4k</p>
                </div>
                <h2>Generative Design</h2>
                <p>Visualize, Program, and Create with Processing</p>
                <p class="tags">Tags: #books</p>
            </article>

        </section>


        <div class="preview">
            <h2>Preview resource:</h2>
            <div class="article_preview">
                <article>
                    <h2>The Nature of Code</h2>
                    <p>How can we capture the unpredictable evolutionary and emergent properties of nature in software?
                        How can understanding the mathematical principles behind our physical world help us to create
                        digital worlds?
                        This book focuses on a range of programming strategies and techniques behind computer
                        simulations of
                        natural systems,
                        from elementary concepts in mathematics and physics to more advanced algorithms that enable
                        sophisticated visual results.
                        Readers will progress from building a basic physics engine to creating intelligent moving
                        objects
                        and complex systems,
                        setting the foundation for further experiments in generative design.
                        Subjects covered include forces, trigonometry, fractals, cellular automata, self-organization,
                        and
                        genetic algorithms.
                        The book's examples are written in Processing, an open-source language and development
                        environment
                        built on top of the Java programming language.
                    </p>
                    <h2>See resource:</h2>
                    <a href="http://www.natureofcode.com">http://www.natureofcode.com</a>
                </article>
            </div>
        </div>

        <div class="sidepanel" onclick="funcSearch()">
            <h2>See more categories:</h2>
            <p>📚 Books</p>
            <p>📖 Online Books</p>
            <p>🎓 Courses</p>
            <p>🛠️ Frameworks</p>
            <p>📚 Visual Programming Languages</p>
            <p>👥 Sound Programming Languages</p>
            <p>➗ Web Programming Libraries</p>
            <p>🛠️Hardware</p>
            <p>🤖 Machine learning • Computer Vision • AI</p>
            <p>🌐 Blogs </p>
        </div>




    </main>


    <script src="../js/search.js"></script>
</body>

</html>