<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Page</title>
    <link rel="stylesheet" href="../css/trending_popular.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo-wheel-favicon.ico">
    <link rel="preconnect" href="http://localhost:5010">
</head>

<body>

    <header>
        <img class="logo" src="../assets/images/logo.webp" alt="Logo" onclick="logoRedirect()">
        <h1 class="main_title"> Trending on Creative Coding Vault</h1>
        <h2>See what's trending on Creative Coding Vault</h2>
    </header>

    <main>

        <section>
            <h2>Most searched resources this month:</h2>
            <script src="../js/trending.js"></script>

            <div id="fetchedResources"></div>

        </section>


        <div class="preview">
            <h2>Preview resource:</h2>
            <div class="article_preview" id="articlePreview">
            </div>
        </div>

        <div class="sidepanel">
            <h2>See more categories:</h2>
            <p onclick="window.location.href='searchpage.html?query=books'">📚 Books</p>
            <p onclick="window.location.href='searchpage.html?query=online books'">📖 Online Books</p>
            <p onclick="window.location.href='searchpage.html?query=courses'">🎓 Courses</p>
            <p onclick="window.location.href='searchpage.html?query=frameworks'">🛠️ Frameworks</p>
            <p onclick="window.location.href='searchpage.html?query=visual programming languages'">📚 Visual Programming Languages</p>
            <p onclick="window.location.href='searchpage.html?query=sound programming languages'">👥 Sound Programming Languages</p>
            <p onclick="window.location.href='searchpage.html?query=web programming libraries'">➗ Web Programming Libraries</p>
            <p onclick="window.location.href='searchpage.html?query=hardware'">🛠️ Hardware</p>
            <p onclick="window.location.href='searchpage.html?query=videos'">📽️ Video</p>
            <p onclick="window.location.href='searchpage.html?query=tutorials'">⏯️ Tutorial</p>
            <p onclick="window.location.href='searchpage.html?query=machine learning'">🤖 Machine learning • AI</p>
            <p onclick="window.location.href='searchpage.html?query=blogs'">🌐 Blogs </p>
        </div>

    </main>

</body>

</html>